:root {
    --primary: #034133ff;
    --primary-dark: #041f1a;
    --secondary: #8CDF83ff;
    --background: #EDFDF7ff;
    --text-primary: #212121;
    --text-secondary: #757575;
    --on-primary: #FFF;
}