@import url('typography.css');
@import url('color.css');

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-color: var(--background);
}

header {
    background-color: var(--primary);
    padding: 0 15px 15px 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: white;
}

.app-bar {
    display: flex;
    flex-direction: row;
}

.app-bar h1 {
    margin: 0;
}

.logo {
    padding: 15px;
    width: auto;
    height: auto;
    max-height: 90px;
}

nav {
    background-color: var(--background);
    padding: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-left: 15px;
    height: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

li {
    margin-right: 15px;
}

.nav-link {
    border: none !important;
    background-color: var(--background);
    text-decoration: none;
    margin-top: -15px;
    padding: 8px 15px;
    border-radius: 5px;
    transition: all 0.5s ease;
    color: var(--text-primary);
}

.nav-link:hover {
    background-color: var(--secondary);
    color: var(--text-primary);
    font-weight: bold;
}

.nav-link:active {
    background-color: var(--primary-dark);
    color: white;
    font-weight: bold;
}

main {
    padding: 0 15px;
    flex: 1;
}

footer {
    background-color: var(--primary);
    color: white;
    padding: 10px;
    text-align: center;
}

/* scroll-to-top.css */

.scroll-to-top {
    height: 20px;
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: var(--primary);
    color: white;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    z-index: 1000;
}

.scroll-to-top:hover {
    background-color: var(--primary-dark);
    color: white;
}


/*RESPONSIVE LAYOUT*/

@media only screen and (max-width: 600px) {
    header {
        padding: 0 10px 10px 10px;
    }

    .title {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .app-bar {
        margin: 0 auto;
        flex-direction: column;
        align-items: center;
    }

    nav {
        height: 40px;
        margin: 0 auto;
    }

    nav ul {
        height: 55px;
    }

    nav ul li {
        margin: auto 10px auto 0;
        display: inline-flex;
        text-align: center;
    }
}