/* Font Gilroy Bold */
@font-face {
    font-family: 'Gilroy';
    src: url('../../font/Gilroy-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

/* Font Gilroy Regular */
@font-face {
    font-family: 'Gilroy';
    src: url('../../font/Gilroy-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


* {
    font-family: 'Gilroy', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2em;
}

.text-center {
    text-align: center;
}


.text-right {
    text-align: end;
}


.text-left {
    text-align: start;
}

.text-justify {
    text-align: justify;
}

.troncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}