@import "theme/variables";

.error-container {
  text-align: center;
  margin: 100px auto;
  padding: 20px;
  max-width: 600px;
  background-color: $primary-dark;
  color: $on-primary;
  border-radius: 5px;
  box-shadow: 0 0 10px $shadow;
}

.error-container h1 {
  margin: 0;
  font-size: 2em;
}

.error-container p {
  margin: 15px 0;
  font-size: 1.2em;
}


.error-container img {
  max-width: 60%;
  height: auto;
  margin: 15px 0;
}

.error-container a {
  color: $secondary;
}
