@import "theme/variables";

.places-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  list-style-type: none;
  padding: 0;
  gap: 15px;
}

.place {
  width: 350px !important;
  border: 1px solid $text-secondary;
  border-radius: 8px;
  margin-bottom: 20px;
  overflow: hidden;
  background-color: $background;
  box-shadow: 0 0 10px $shadow;
  transition: box-shadow 0.3s, transform 0.3s;
  cursor: pointer;
}

.place-info {
  padding: 15px 15px 5px;
}

.place:hover {
  box-shadow: 0 8px 16px $shadow-hover;
  transform: scale(1.02);
}

.place-info h3 {
  margin: 0;
  color: $primary-dark;
  text-align: start;
}

.place-info p {
  color: $text-primary;
}

.rating {
  color: $primary;
}

.rating .fas,
.rating .far {
  font-size: 20px;
  margin-right: 5px;
}

.place-image img {
  width: 350px;
  height: 250px;
  object-fit: cover;
}

.place-image .placeholder {
  background-color: $primary;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 250px;
  color: $on-primary;
}

.last-update {
  color: $text-secondary;
  font-size: 14px;
}

.wrap-link {
  text-decoration: none;
}

.category {
  display: flex;
  flex-direction: row;
  gap: 15px;
  margin: 15px 0;
}

.category i {
  color: $primary;
}

/* RESPONSIVE LAYOUT */
@media only screen and (max-width: 800px) {
  .places-list {
    justify-content: center;
    align-items: center;
  }
}
