@import "theme/variables";

.search-bar {
  height: 45px;
  display: flex;
  flex-direction: row;
  gap: 5px;
  text-align: center;
  max-width: 50%;
  margin: auto auto 50px;
}

#searchInput {
  padding: 10px;
  width: 100%;
  border: 2px solid $primary;
  border-radius: 10px;
}

.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 10px;
  border: 2px solid $primary;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
  border-radius: 10px;
}

.button:hover {
  background-color: $secondary !important;
  color: white !important;
  border-color: $secondary !important;
}

.searchButton {
  background-color: $primary;
  color: white;
}

.search-checkbox {
  display: none;
}

.checkbox-label {
  width: 45px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.search-checkbox:checked + .checkbox-label {
  background-color: $primary;
}

.search-checkbox:checked + .checkbox-label i {
  color: $on-primary;
}

.page-selector {
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: center;
  justify-content: center;
  margin: 30px 0;
}

.page-selector a {
  text-decoration: none;
}

.page-selector .disabled {
  pointer-events: none;
  color: grey;
}

.page-selector .bubble {
  color: $primary-dark;
  height: 30px;
  width: 30px;
  border: 2px solid $primary-dark;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}

.page-selector .bubble.selected {
  height: 50px !important;
  width: 50px !important;
  pointer-events: none;
  border-width: 3px;
}

.page-selector .bubble.selected span {
  font-weight: bold;
}

.page-selector .bubble.empty {
  background-color: $primary-dark;
}
