<header>
    <div class="header-container">
        <div class="app-bar">
            <img class="logo" th:src="@{/image/site/logo.png}" alt="logo">
            <div class="title">
                <h1>CampFinder</h1>
                <h3>Trova il posto ideale per il tuo campo!</h3>
            </div>
        </div>
        <nav>
            <ul>
                <li>
                    <a th:href="@{/}" class="nav-link" id="home-btn"> <i class="fa-solid fa-house"></i><span>Home</span></a>
                </li>
                <li>
                    <a th:href="@{/search}" class="nav-link" id="cerca-btn"> <i
                            class="fa-solid fa-magnifying-glass"></i><span>Cerca</span></a>
                </li>
                <li>
                    <a th:href="@{/add}" class="nav-link" id="new-place-btn"> <i class="fa-solid fa-plus"></i><span>Aggiungi Posto</span></a>
                </li>
                <li>
                    <a th:href="@{/info}" class="nav-link" id="info-btn"><i
                            class="fa-solid fa-circle-info"></i><span>Info</span></a>
                </li>
            </ul>
        </nav>
        <a href="#top" class="scroll-to-top" id="scroll-to-top"><i class="fa-solid fa-angles-up"></i></a>
    </div>
</header>
