<header class="navbar position-fixed top-0 justify-content-center justify-content-around z-3">
    <div class="container d-flex align-items-center position-fixed top-0 m-3">
        <div class="col-5 row text-start" id="navbar">
            <ul class="nav justify-content-start">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/}">
                        <i class="fas fa-house"></i>
                        <span>Home</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/search}">
                        <i class="fas fa-search"></i>
                        <span>Cerca</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/add}">
                        <i class="fas fa-plus"></i>
                        <span>Aggiungi Posto</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/info}">
                        <i class="fas fa-info-circle"></i>
                        <span>Info</span>
                    </a>
                </li>
            </ul>
        </div>
        <a class="col-2 text-center" th:href="@{/}">
            <img th:src="@{/image/site/logo.png}" alt="logo" id="logo">
        </a>
        <div class="col-5 row text-end"></div>
    </div>
    <button type="button" class="btn btn-primary position-fixed bottom-2 end-1 scroll-to-top">
        <i class="fa-solid fa-angles-up"></i>
    </button>
</header>

