<!DOCTYPE html>
<html lang="it">

<head th:replace="~{fragments/head :: head}"></head>

<body>
<link rel="stylesheet" th:href="@{/css/error.css}">

<header th:replace="~{fragments/header :: header}"></header>

<main>
    <div class="error-container">
        <h1>Errore 404</h1>
        <p>Ops! La pagina che stai cercando non è stata trovata.</p>
        <img th:src="@{/image/site/404.png}" alt="Errore 404 Immagine">
        <p>Torna alla <a th:href="@{/}">pagina principale</a>.</p>
    </div>
</main>

<footer th:replace="~{fragments/footer :: footer}"></footer>

</body>
</html>