<!DOCTYPE html>
<html lang="it">

<head th:replace="~{fragments/head :: head}"></head>

<body>

<header th:replace="~{fragments/header :: header}"></header>

<main>

    <img th:src="@{/image/site/home.png}" alt="home" class="welcome-image position-absolute top-0 start-0 z-0">
    <div class="container main-content">
        <section class="container" id="section1">
            <h2 class="section-title">Come usare CampFinder</h2>
            <div class="row">
                <div class="col">
                    <div class="icon-container">
                        <i class="fa-solid fa-magnifying-glass fa-2xl" style="color: #0b72c1;"></i>
                    </div>
                    <h4>CERCA</h4>
                    <p>Consulta la lista dei posti e trova quello più adatto alle tue esigenze.</p>
                </div>
                <div class="col">
                    <div class="icon-container">
                        <i class="fa-solid fa-book fa-2xl" style="color: #37a44d;"></i>
                    </div>
                    <h4>ORGANIZZA</h4>
                    <p>Ottieni tutte le informazioni di cui hai bisogno. Siamo anche noi capi scout e sappiamo bene di
                        quali informazioni hai bisogno e abbiamo raccolto tutte le risposte in un unico posto.</p>
                </div>
                <div class="col">
                    <div class="icon-container">
                        <i class="fa-solid fa-star-half-stroke fa-2xl" style="color: #e1b514;"></i>
                    </div>
                    <h4>DICCI LA TUA</h4>
                    <p>Lascia la tua recensione e/o inviaci una segnalazione per aiutare altri a trovare il posto
                        migliore per il loro campo e per aiutarci a tenere il sito sempre aggiornato. Senza la vostra
                        collaborazione non potremmo mai offrivi questo servizio.</p>
                </div>
            </div>
        </section>
        <section class="container" id="section2">
            <h2 class="section-title">Come nasce CampFinder</h2>
            <div class="row">
                <div class="col-md-6">
                    <img th:src="@{/image/site/scope.png}" class="img-fluid shadow" alt="Immagine">
                </div>
                <div class="col-md-6">
                    <p>
                        CampFinder è stato creato per <strong>semplificare</strong> la vita dei capi scout come te e
                        me.
                        Trovare il <strong>luogo ideale</strong> per i campi può essere un compito
                        <strong>arduo</strong>: a volte non si sa nemmeno da dove iniziare, e quando si ha
                        l'impressione
                        di aver trovato qualcosa di adatto, <strong>i costi</strong> o <strong>imprevisti
                        spiacevoli</strong> possono rovinare tutto. La soluzione migliore a questo problema è
                        avvalersi
                        dei <strong>preziosi consigli</strong> ed <strong>esperienze</strong> dei nostri fratelli
                        scout.
                        Da questa riflessione nasce CampFinder. <strong>Scopri nuovi posti</strong> e ascolta le
                        <strong>esperienze</strong> degli altri capi scout. Utilizzando CampFinder, scoprirai posti
                        nuovi, eviterai <strong>brutte sorprese</strong> e avrai una chiara visione di cosa
                        aspettarti.
                        Ma ricorda, non dimenticare di <strong>condividere la tua esperienza</strong>. Contribuirà
                        ad
                        <strong>arricchire</strong> il sito e sarà di grande valore per molti altri capi scout!
                    </p>
                </div>
            </div>
        </section>
        <section class="container" id="section3">
            <h2 class="section-title">Posti in Evidenza</h2>
            <ul th:replace="~{fragments/placelist :: places-list}"></ul>
        </section>
    </div>
</main>

<footer th:replace="~{fragments/footer :: footer}"></footer>
<script th:src="@{/webjars/bootstrap/dist/js/bootstrap.bundle.min.js}"></script>
</body>

</html>
