<!DOCTYPE html>
<html lang="it">

<head th:replace="~{fragments/head :: head}"></head>

<body>

<header th:replace="~{fragments/header :: header}"></header>

<main>
    <h1 class="text-center">Cerca il posto migliore per te</h1>
    <form action="/search" method="get" class="search-bar">
        <input type="text" id="searchInput" placeholder="Cerca per nome..." name="query" th:value="${query}">
        <input type="checkbox" class="search-checkbox" name="tent" id="tentFilter" th:checked="${tent}">
        <label class="checkbox-label button" for="tentFilter">
            <i class="fa-solid fa-tent"></i>
        </label>
        <input type="checkbox" class="search-checkbox" name="bed" id="bedFilter" th:checked="${bed}">
        <label class="checkbox-label button" for="bedFilter">
            <i class="fas fa-bed"></i>
        </label>
        <button type="submit" class="button searchButton" id="search">
            <i class="fas fa-search"></i>Cerca
        </button>
    </form>
    <ul th:replace="~{fragments/placelist :: places-list}"></ul>
    <div class="page-selector">
        <a th:class="${page > 1 ? '' : 'disabled'}"
           th:href="@{${'/search?query=' + query + '&tent=' + tent + '&bed=' + bed + '&page=' + (page - 1)}}">
            <i class="fa-solid fa-chevron-left"></i>
        </a>

        <a th:each="pageNumber : ${#numbers.sequence(page - 2, page + 2)}"
           th:class="'bubble ' + ${pageNumber == page ? 'selected' : ''} + ' ' + ${pageNumber <= 0 or pageNumber > pages ? 'disabled empty' : ''}"
           th:href="@{${'/search?query=' + query + '&tent=' + tent + '&bed=' + bed + '&page=' + pageNumber}}">
            <span th:if="${pageNumber > 0 and pageNumber <= pages}" th:text="${pageNumber}"></span>
        </a>

        <a th:class="${page < pages ? '' : 'disabled'}"
           th:href="@{${'/search?query=' + query + '&tent=' + tent + '&bed=' + bed + '&page=' + (page + 1)}}">
            <i class="fa-solid fa-chevron-right"></i>
        </a>
    </div>


</main>

<footer th:replace="~{fragments/footer :: footer}"></footer>

</body>
</html>