@font-face {
  font-family: 'Gilroy';
  src: url('../../font/Gilroy-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../../font/Gilroy-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: 'Gilroy', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2em;
}

.big-p {
  font-size: 20px;
}
