$primary: #034133FF;
$primary-dark: #041F1A;
$secondary: #8CDF83FF;
$background: #EDFDF7FF;
$text-primary: #212121;
$text-secondary: #757575;
$on-primary: #FFFFFF;
$shadow: rgba(0, 0, 0, 0.2);
$shadow-hover: rgba(0, 0, 0, 0.3);

$max-width: 1320px;


/*
$primary: #86A697
$secondary: #F2D7B6
 */